[server]
Port = 8080
#运行模式：debug release
Mode = debug

[log]
#是否开始日志打印：0关闭 1开启
Enable = 0
#如果启动命令设置了log参数，则优先使用启动命令的log路径
Path = ./runtime/log/gin.log

[database]
Type = mysql
User = root
Password = root
Host = 127.0.0.1
Db = card-admin
TablePrefix =
# 空闲连接数
MaxIdle = 10
# 最大连接数
MaxOpen = 100

[redis]
Host =
Password =
MaxIdle = 30
MaxActive = 30
IdleTimeout = 200

#腾讯验证码
[tencent_captcha]
Aid =
AppSecretKey =

#阿里云短信
[ali_sms]
AccessId =
SecretKey =
SignName =
DefaultTemplateCode =